.container {
  height: 100vh;
  display: grid;;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 60px 1fr;
}


.header {
  background-color: rgb(240, 242, 245);
  grid-column: 2 / 3;
  grid-row: 1 /2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section {
  background-color: #000000;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  text-align: center;
}

.main {
  background-color: rgb(240, 242, 245);
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 20px;
}

p {
  color:#000000;
}


.sidebar {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: fixed;
  height: 90px;
  z-index: 10;
 }
 
 .sidebarBg {
   background-color: rgba(0, 0, 0, 0.85);
   transition: 0.5s;
 }
 
 .logo {
  margin-top: 20px;
  height: 70px;
  width: 70px;
 }

 .avatar {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: 0 auto;
 }
 
 .profileContainer {
  display: flex;
  background-color:rgb(240, 242, 245);
  gap: 20px;
 }

 .userCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  width: 30%;
  padding: 60px;
  text-align: center;
 }

 .profileInfoContainer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  padding: 20px;
 }

 .fielsContainer {
  display: flex;
 }

 @media screen and (max-width: 1000px) {
  .profileContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .userCardContainer {
    width: 100%;
  }
}