.signinForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.form {
  max-width: 360px;
  margin-bottom: 1rem;
}

.textField {
  background-color: gray;
}

.textField:focus {
  border: 1px solid yellow;
}