.signinForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
}

.form {
  max-width: 360px;
  margin-bottom: 1rem;
}