.navbar {
  margin-top: 100px;
 }
 
 .navbar li {
   padding: 0 1rem;
   margin: 10px;
 }
 
 .navbar li a {
   font-size: 1.2rem;
   font-weight: 500;
 }
 
 .navbar li a:hover {
   color: #FAFF00;
 }
 
 .navbar li p:hover {
   color: #FAFF00;
   cursor: pointer;
 }
 
 .hamburger {
   display: none;
 }

.linkStyle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.a {
  cursor: pointer;  
}

.logo {
  margin-top: 20px;
  height: 70px;
  width: 70px;
 }

/* @media screen and (max-width: 1000px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0.9);
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -3;
    transition: 0.3s;
  }

  .navbar.active {
    left: 0;
  }

  .navbar li {
    padding: 0.5rem 0;
  }

  .navbar li a {
    font-size: 1.5rem;
  }

  .hamburger {
    display: initial;
    cursor: pointer;
  }
} */